.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-right: 30px;
}
.models-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 50px;
}
